#cv,
#cv-2 {
  position: relative;
  box-sizing: border-box;
  width: 21cm;
  height: 29.7cm;  
  font-size: 1rem;
  background-color: white;
  margin-top: 50px;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.img-container {
  box-sizing: border-box;
  width: 6cm;
  height: 6cm;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container:hover #upload-btn {
  display: block;
}

#upload-btn {
  cursor: pointer;
  display: none;
}

#img-upload {
  display: none;
}

.left-container {
  width: 7cm;
  height: 100%;
  background-color: var(--theme-color);
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: white;
  padding: 15px;
}

.left-container .title {
  font-size: 1.1em;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}

.left-container .content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: lighter;
}

.left-container > div {
  margin-bottom: 25px;
}

.left-container #contact {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0;
}

.left-container .icon {
  width: 15px;
  height: auto;
}

.left-container .container {
  margin-left: 0px;
  padding: 3px 0;
  font-weight: lighter;
}

.left-container span {
  padding-bottom: 10px;
}

#about,
#skills {
  position: relative;
}

#skills .add-item {
  top: 0px;
}

#contact .material-icons {
  vertical-align: middle;
  padding: 0;
  padding-bottom: 5px;
  font-size: 1.3em;
  width: 1em;
}

.skill {
  padding: 0;
}

#skills li,
.right-container li {
  position: relative;
  padding-bottom: 5px;
}

#skills li:hover .remove-item,
.right-container li:hover .remove-item {
  display: block;
}

.skill-value {
  background-color: #ffd966;
  height: 5px;
  position: absolute;
  left: 0;
  top: 12.5px;
}

.slider-container {
  width: 100%;
  position: relative;
}

.slider {
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  box-sizing: border-box;
  background-color: var(--theme-color);
}

.slider-container:hover .slider::-webkit-slider-thumb {
  background-color: #333;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 5px;
  cursor: pointer;
  background-color: #ffd966;
  box-shadow: -150px 0 0 150px #ffd966;
  filter: brightness(100%);
}

.slider::-webkit-slider-runnable-track {
  height: 5px;
  -webkit-appearance: none;
}

.left-container .tool-tip {
  transform: translateX(-113%);
}

#skills .content > ul,
#work-experience .content > ul,
#education .content > ul,
#projects .content > ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.right-container .content li {
  padding: 0;
}

#references .content > ul {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  padding: 0;
}

#references .content > ul > li {
  padding-right: 20px;
}

.right-container .material-icons {
  color: var(--theme-color);
  margin-right: 7px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 3px;
  left: 0px;
}

.material-icons.add-item,
.material-icons.remove-item {
  position: absolute;
  right: 0px;
  top: 0;
  left: auto;
  display: none;
  height: 30px;
  cursor: pointer;
  user-select: none;
}

.time {
  font-style: italic;
}

.content *:focus {
  box-sizing: border-box;
  border: rgb(4, 113, 255) solid 2px;
  border-radius: 6px;
}

.right-container {
  width: 480px;
  position: absolute;
  left: 290px;
}

.right-container .title {
  color: var(--theme-color);
  font-size: 1.2em;
  font-weight: 500;
  position: relative;
  padding-left: 30px;
  text-transform: uppercase;
}

.right-container > div {
  position: relative;
}

.name-container {
  margin-top: 10px;
}

.name-container div {
  margin: 0px 0px;
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  color: #595959;
}

#job-title-header {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--theme-color);
  margin-bottom: 15px;
}

.title:hover .add-item {
  display: block;
}

.right-container .seperator {
  width: 100% !important;
  height: 2px;
  background-color: var(--theme-color);
}

.right-container .content {
  color: #333;
}

#cv .tool-tip {
  width: 220px;
  background: #393f46ee;
  color: white;
  border-radius: 6px;
  position: absolute;
  top: 0px;
  padding: 10px 8px 5px 8px;
  margin: 0;
  visibility: hidden;
}

#cv .tool-tip > ul {
  padding-left: 15px;
}

.right-container .tool-tip {
  transform: translateX(235%);
}

#cv .tool-tip * {
  font-size: 0.9rem;
}

#cv *:hover > .tool-tip {
  visibility: visible;
}

.right-container ul {
  margin: 0;
  padding-left: 20px;
}

.content {
  margin: 8px 0px;
}

.section-title {
  font-weight: bold;
}

#work-experience .dot {
  user-select: none;
  color: var(--theme-color);
  height: 20px;
  margin: auto 5px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

#work-experience .description {
  font-weight: lighter;
}

li::marker {
  color: var(--theme-color);
  margin-left: 0px;
}

#font {
  margin: 0 5px;
  width: 100px;
}
